{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block style %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'CSS/accounts/login.css' %}"
  />
{% endblock style %}
{% block content %}
    <div class="main__login-container">
      <div class="main__logobox">
        <p style="color: white;">제대로 STUDY</p>
      </div>
      <form action="{% url 'accounts:login' %}" method="POST" class="main__loginbox">
        {% csrf_token %}
        <div style="display:flex; flex-direction:column; align-items:center;">
          {{ form.as_p }}
          <input type="submit" value="로그인" class="main__loginbutton">
        </div>
      </form>
      <div class="main__socailbutton-container">
        <div>
          <p class="main__signupbutton-title">제대로 STUDY 계정이 없으신가요?</p>
          <a href="{% url 'accounts:signup' %}" class="main__signupbutton">제대로 STUDY 회원가입</a>
        </div>
        <div>
          <p class="main__signupbutton-title">비밀번호를 잊으셨나요?</p>
          <a href="{% url 'account_reset_password' %}" class="main__signupbutton">비밀번호 초기화</a>
        </div>
      </div>
    </div>
{% endblock content %}